@font-face {
    font-family: StarJedi;
    src: url("../fonts/Starjedi.ttf") format("truetype");
}

body {
  background-image: url("../images/background02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  text-align: center;
  font-size: 24pt;
}

.header {
  margin-top: 10px;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  padding: 0;
}

.thumbnail img {
  cursor: pointer;
}

.jumbotron {
  font-family: StarJedi;
  font-size: 62pt;
  color: white;
  background-color: black;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.name {
  text-align: center;
}

#choose-character-label {
  font-family: StarJedi;
}

#attack-gameplay-messages,
#counter-attack-gameplay-messages {
  font-size: 14pt;
}

#attack-gameplay-messages {
  margin-top: 10px;
}

.caption {
  text-align: left;
  font-size: 14pt;
  border: thin solid black;
}

.caption div {
  padding-left: 10px;
}

.caption .title {
  font-weight: bold;
}

.green {
  border: 5px solid green !important;
}

.red {
  border: 5px solid red !important;
}

.grayed-out {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.locked {
  pointer-events: none;
}

#versus .row:first-child {
  padding-top: 30px;
  font-size: 62pt;
}

#versus-area {
  overflow: hidden;
}

#versus-area [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.content {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.extra-div {
  opacity: 0;
}

.col-sm-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
